<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="main.java.Utilities.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="homepage">
        <classes>
           <class name="test.java.testCases.TC_Offer_Test_003"></class>
        </classes>
    </test>
</suite>